
:root {
    --background: #ffffff;
    --olas-dark: #304F40;
    --olas-light: #E1D2BB;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--background);
}

.panel {
    background-color: var(--olas-light);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--olas-dark);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.group {
    display: flex;
    flex-direction: column;
}

.label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--olas-dark);
}

.input,
.textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.input:hover,
.textarea:hover {
    border: 1px solid var(--olas-dark);
}

.input:focus,
.textarea:focus {
    border-color: var(--olas-dark);
    box-shadow: 0 0 5px rgba(48, 79, 64, 0.4);
}

.textarea {
    resize: vertical;
    min-height: 100px;
}

.button {
    text-align: center;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 20px;
    color: var(--olas-light);
    font-weight: bold;
    background-color: var(--olas-dark);
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button:hover {
    background-color: var(--olas-dark);
    color: var(--olas-light);
    transform: translateY(-4px) scale(1.05);
}
