

.navLinks {
        display: flex;
        align-items: center;
        gap: 1.5rem;
}

@media (max-width: 768px) {
    .navLinks {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        align-items: flex-start;
    }
    .navIcons {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin-top: 1rem;
    }
}

.login{
    background-color: #6F1A07;
    color: var(--olas-light);
    border-radius: 40px;
    height: 40px;
    width: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.navbar{
    color: var(--olas-dark);
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #6F1A07;
    gap:30px;
   
    

}
.navIcons {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.navIcons button {
    background: none;
    border: none !important;
    box-shadow: none;
    padding: 0.25rem;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
body{

}